[submodule "themes/dark-theme-editor"]
	path = themes/dark-theme-editor
	url = https://github.com/JingWangTW/dark-theme-editor
[submodule "themes/shibui"]
	path = themes/shibui
	url = https://github.com/ntk148v/shibui
[submodule "themes/hugo-xterm"]
	path = themes/hugo-xterm
	url = https://github.com/manid2/hugo-xterm
[submodule "themes/mostafa-hugo-theme"]
	path = themes/mostafa-hugo-theme
	url = https://github.com/mirmousaviii/mostafa-hugo-theme.git
