<!--<a class="bubble" href="{{ .ctx.Params.link }}" target="_blank">-->
<!--    <i class="fas fa-fw {{ or .ctx.Params.icon "fa-link" }}"></i>-->
<!--</a>-->

<article class="link">
<!--    <div class="link-content">-->
<!--        {{ with .ctx.Params.featuredImage }}-->
<!--            <img src="{{ . }}" class="featured-image" alt="">-->
<!--        {{ end }}-->
<!--        <a href="{{ .ctx.Params.link }}" target="_blank">-->
<!--            <h4>{{ .ctx.Title }}</h4>-->
<!--            {{ .ctx.Content }}-->
<!--        </a>-->
<!--    </div>-->

        <div class="link-content">
            {{ with .ctx.Params.featuredImage }}
                <img src="{{ . }}" class="featured-image" alt="">
            {{ end }}
            <a href="{{ .ctx.Params.link }}" target="_blank">
                {{ partial "default-content.html" (dict "ctx" .ctx "template_type" .template_type) }}
            </a>
        </div>


    {{ partial "article-footer.html" .ctx }}
</article>
