{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/" | relLangURL}}">
<!--            <i class="fa fa-fw fa-exclamation-triangle"></i>-->
        </a>

        <article class="error404 article">
            <div class="content">
                <h3>Error 404 - Not Found</h3>
                <p>Unfortunately, the page is not available at the moment.</p>
                <p>Please select a category at the bottom or change over to the <a href="{{ "/" | relLangURL}}"> HOMEPAGE</a>.</p>
            </div>
        </article>
    </div>
</div>
{{ end }}
