.main {
    min-height: 50vh;

    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 #2c2c2c;
    width: 100%;

    .article-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;

        padding-top: 40px;
        min-height: 90px;
        position: relative;

        // Move the left circle all the way down to the end of the article-wrapper
        &.single {
            padding-bottom: 2.5em;
        }

        //.bubble {
        //    position: absolute;
        //    left: 25px;
        //    top: 70px;
        //    background-color: $bubble-background-color;
        //    border: 3px solid $bubble-color;
        //    width: 45px;
        //    height: 45px;
        //    display: flex;
        //    align-items: center;
        //    justify-content: center;
        //    border-radius: 50%;
        //    z-index: 10;
        //    text-decoration: none;
        //    color: $bubble-color;
        //    transition: all 0.3s ease-in-out;
        //
        //
        //    .fa {
        //        font-size: 15pt;
        //    }
        //
        //    &:hover {
        //        background-color: $highlight-color;
        //    }
        //}
    }
}


