// The variables below are processed in './layouts/partials/css.html'
// when it's executed as template by Hugo pipes.

$content-font: {{ .Param "contentFont" | default "'Open Sans',sans-serif" }};
$content-rtl-font: {{ .Param "contentRTLFont" | default "Vazirmatn, sans-serif" }};

$base-color: {{ .Param "baseColor" | default "#191A19" }};
$page-background-color: {{ .Param "pageBackgroundColor" | default "$base-color" }};
$special-color: {{ .Param "specialColor" | default "#2D3642" }};
$highlight-color: {{ .Param "highlightColor" | default "#ffffff" }};
$text-color: {{ .Param "textColor" | default "#7a7a7a" }};

$nav-background-color: {{ .Param "navBackgroundColor" | default "$special-color" }};
$nav-text-color: {{ .Param "navTextColor" | default "$page-background-color" }};
$algolia-search-box-color: {{ .Param "algoliaSearchBoxColor" | default "#444" }};
$algolia-search-box-icon-color: {{ .Param "algoliaSearchBoxIconColor" | default "#888" }};
$algolia-search-box-background-color: {{ .Param "algoliaSearchBoxBackgroundColor" | default "#fafafa" }};
$algolia-border-color: {{ .Param "algoliaBorderColor" | default "#e4e4e4" }};

$header-text-color: {{ .Param "headerTextColor" | default "#FF8D00" }};

$logo-color: {{ .Param "logoColor" | default "darken($page-background-color, 1)" }};
$bubble-color: {{ .Param "bubbleColor" | default "$highlight-color" }};
$bubble-background-color: {{ .Param "bubbleBackgroundColor" | default "#ccc" }};
$bubble-hover-color: {{ .Param "bubbleHoverColor" | default "$highlight-color" }};

$article-background-color: {{ .Param "articleBackgroundColor" | default "#343434" }};
$meta-text-color: {{ .Param "metaTextColor" | default "#999999" }};
$meta-border-color: {{ .Param "metaBorderColor" | default "#eeeeee" }};
$continue-reading-hover-color: {{ .Param "continueReadingHoverColor" | default "$meta-text-color" }};

$footer-background-color: {{ .Param "footerBackgroundColor" | default "$page-background-color" }};
$footer-headline-color: {{ .Param "" | default "$highlight-color" }};

@mixin featuredImage() {
  .featured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.25;
  }
}

// Dependencies
@import '_vendor/normalize';
@import '_vendor/skeleton';
@import '_vendor/flexslider';
@import '_vendor/dimbox';
@import '_vendor/tooltipster';
@import '_vendor/tooltipster-sideTip-light';
@import 'fontface';

// Base theme styling
@import 'mostafa-hugo-theme';
@import 'main';
